.heart {
    cursor: pointer;
	width: 18px;
	height: 18px;
	position: relative;
	margin: 1em auto;
	transform-origin: 50% 50%;
	transform: rotate(45deg) scale(1);
	&:before {
		content: "";
		position: absolute;
		display: block;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		background-color: red;
		width: inherit;
		height: 12px;
		top: 6px;
		left: 0;
	}
	&:after {
		content: "";
		position: absolute;
		display: block;
		background-color: red;
		width: 12px;
		top: 0;
		left: 6px;
		height: inherit;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
	}
}

#progress-bar:hover #progress::after {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -2.5px;
	margin-right: -2.5px;
}

#progress-bar:hover #progress{
	background-color: green;
}